# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Streamlit
.streamlit/
*.toml

# IDE
.vscode/
.idea/

# Logs
*.log

# Mac
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints